body {
    background: url($bgmain-2) fixed center;
    backdrop-filter: blur(10px);
}

.topic-avatar .main-avatar .avatar {
    box-shadow: 0 0 0 1px rgba(255,255,255,.3), 0 0 0 2px #000;
    width: 76px;
    height: 76px;
    margin: 2px calc(2px + 0.55em) 2px 2px;
}

.group-site-admin .names .user-title, .group-site-admin .names .user-title a {
    color: #00aeff !important;
    font-size: 14px;
}

.group-moderator .names .user-title, .group-moderator .names .user-title a {
    color: #00aeff !important;
    font-size: 14px;
}

.d-header .icons #current-user .icon .avatar {
    box-shadow: 0 0 0 1px rgba(255,255,255,.3), 0 0 0 2px #000;
}

.topic-post.group-site-admin .topic-avatar .main-avatar .avatar {
    box-shadow: 0 0 0 1px rgba(255,255,255,.3), 0 0 0 3px #00aeff, 0 0 0 4px #000, 0 0 10px 4px rgba(0,174,255,.75);
}

.topic-post.group-moderator .topic-avatar .main-avatar .avatar {
    box-shadow: 0 0 0 1px rgba(255,255,255,.3), 0 0 0 3px #00aeff, 0 0 0 4px #000, 0 0 10px 4px rgba(0,174,255,.75);
}

.names span a {
    color: #fff !important;
    font-size: 18px;
}